<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login form with JavaScript Validation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/css/authenticate.css">

</head>
<body>
<div class="logo text-center">
  <a href="/" style="text-decoration: none;"><h1>Stocket</h1></a>
</div>
<div class="wrapper">
  <div class="inner-warpper text-center">
    <h2 class="title">Create your account</h2>
    <form action="/add_user" method="post" id="formvalidate">
      <div class="input-group">
        <label class="palceholder" for="userName">Full Name</label>
        <input class="form-control" name="name" id="Name" type="text" placeholder="" />
        <span class="lighting"></span>
      </div>
      <div class="input-group">
        <label class="palceholder" for="Email">Email ID</label>
        <input class="form-control" name="email" id="Email" type="text" placeholder="" />
        <span class="lighting"></span>
      </div>
      <div class="input-group">
        <label class="palceholder" for="phno">Phone Number</label>
        <input class="form-control" name="pno" id="pno" type="text" placeholder="" />
        <span class="lighting"></span>
      </div>
      <div class="input-group">
        <label class="palceholder" for="userPassword">Password</label>
        <input class="form-control" name="password" id="userPassword" type="password" placeholder="" />
        <span class="lighting"></span>
      </div>
      <div class="input-group">
        <label class="palceholder" for="userPassword">Confirm Password</label>
        <input class="form-control" name="cnfPassword" id="cnfPassword" type="password" placeholder="" />
        <span class="lighting"></span>
      </div>
      

      <button type="submit" id="login">Register</button>
    </form>
  </div>
  <div class="signup-wrapper text-center">
    <a href="/login">Already have an accout? <span class="text-primary">Login</span></a>
  </div>
</div>


<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script><script  src="/static/JS/authenticate.js"></script>

</body>
</html>
